* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-general {
  max-width: 100%;
  max-height: 30rem;
  margin: 0px auto 0px auto;
  display: block;
}

@media screen and (min-width: 1201px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }
}
