.theme-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 2rem;
  // width: 100vw;
  background-image: url("../assets/images/Frame_64_dark.jpg");
  background-position: center;
  background-size: cover;
}

.theme-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(128, 203, 196, 0.5);
  padding: 0 1rem;
}

.theme-select {
  max-width: 6rem;
}

.form-theme-background {
  min-width: 30rem;
  padding: 1rem;
  // background-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(249, 213, 135, 1);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  color: #b2dfdb;
  // color: #e0f2f1;
  // color: #eeeeee;
  // color: #eceff1;
  // color: #ffecb3;
  // color: #fff8e1;
}

.theme-btn {
  margin: 0 2rem;
}
